%h3 Добрый день

%p
  Тестовое задание немного расширил, добавив регистрацию и авторизацию.
  Так же для формы комментирования использовал redactor с небольшим количеством кнопок для стилизации. 
  Входной html фильтруется, так что другие теги не пройдут. Так же валидируется количество символов в тексте комментария (от 1 до 1000)

%p Авторизация на основе Devise, аутентификация на основе CanCan

%p Для постов используются нормальные ссылки, генерируемые при сохранении

%p Все работает с использованием TurboLinks

%p Верстка на основе Zurb Foundation, шаблоны haml

%p На текст поста в seed.rb лучше внимания не обращать, конечно же таким вещам там не место :)
